@import "./components/base-theme/fonts.scss";
@import "./components/base-theme/colors.scss";
@import "./components/base-theme/breakpoints.scss";
@import "./components/base-theme/dark-theme.scss";

$animation-time: 0.3s;

:root {
  font-family: "Karla", sans-serif;
  background-color: $bkg-color-d;
  color: $main-color;
  transition-duration: 0.5ms;
  overflow-x: hidden;
  overflow-y: visible;

  --animation-time: $animation-time;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to left, #00000000, $alert-color);

  background-color: antiquewhite;
  margin: 2rem 0rem;
}

button {
  transition: all 200ms ease-in-out;

  transition: all 200ms ease-in-out;
  @include button-dark;
}
button::after {
  @include button-dark-after;
}
button:hover::after {
  background-color: $alert-color-butt-after;
}
