@import './components/base-theme/fonts.scss';
@import './components/base-theme/colors.scss';

body{
  font-family: 'Karla', sans-serif;
  color: $dark-text;
}

.to-do{
  width: 15.5rem;
  min-height: 2.5rem;
  position: fixed;
}