@import "../base-theme/colors.scss";
@import "../base-theme/fonts.scss";
@import "../base-theme/breakpoints.scss";
@import "../base-theme/dark-theme.scss";
@import "src/App.scss";

body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  transition: all 2.5s linear;
}

.container {
    display: block;
    margin: auto;
    align-items: center;
    justify-items: center;
    width: 90%;   
  .intro {
    margin: 30em 0em;
    padding: 0em 5em;
    justify-content: center;
    align-items: center;

    height: 100%;

    .intro-one {
      font-size: 1.5rem;
    }

    .name {
      // margin: .5rem .5rem;
      padding-bottom: 1rem;
      border-radius: 45px;
      // background-color: $alert-color-d;
      color: $alert-color;

      font-family: "Itim", sans-serif;
      font-size: 3rem;
      text-align: left;

      span {
        transition: all 300ms ease-in-out;
        padding: 1px;
      }
      :hover {
        color: $bkg-color;
        transform: rotateX(15deg);
        -webkit-transform: rotateX(15deg);
      }
    }

    .big-link {
      float: right;
    }
  }

  .span-wid {
    font-size: 1.5rem;

    .desc {
      font-size: 1rem;
      font-family: "Lato";
    }
  }

  .about-me-short {
    font-size: 1.5rem;
  }

  b {
    color: $alert-color;
  }
}
