@import "../base-theme/colors.scss";
@import "../base-theme/fonts.scss";
@import "../base-theme/breakpoints.scss";
@import "../base-theme/dark-theme.scss";
// @import url('src/App.scss');

.background {
  background-attachment: fixed;
  position: fixed;
  z-index: -5;
  width: 100%;
  height: 100%;

  animation: opacity-in 4s;

  .colorOne,
  .colorTwo {
    -o-animation: opacity-loop ease-in-out infinite;
    -moz-animation: opacity-loop ease-in-out infinite;
    animation: opacity-loop 10s infinite ease-in-out;
  }
}

.projects-container {
  width: 100%;
  display: grid;
  place-items: center;

  align-items: center;
  justify-content: center;
  text-align: left;

  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }

  .dev-title {
    width: 80%;
    background-color: rgba(4, 3, 40, 0.75);
    padding: 0.6rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-weight: 800;
    color: rgb(233, 233, 233);

    .dropdown-arrow {
      opacity: 95%;
      cursor: pointer;
    }
    .up {
      transform: rotateX(180deg);
      color: $main-color-d;
    }
  }
}

.project-container {
  background-color: #0a041fb9;
  padding: 0 10rem 0 10rem;
  flex-wrap: wrap;
  width: 80%;
  .title {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .projectDesc {
    font-weight: 300;

    .images {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1rem;
      img {
        height: 10rem;
        padding: 0.4rem;
        background-color: #00000069;
      }
    }
    span {
      font-weight: 200;
      font-size: 1.2rem;
      margin: 0rem 1rem;
      text-align: center;
    }

    .tools {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .tool {
        font-size: small;
        font-weight: 600;
        background-color: $alert-color;
        padding: 0.5rem 0.9rem;
        margin: 0 0.5rem;
        border-radius: 5px;
      }
    }

    .button {
      margin: 1rem;
      float: left;
    }
  }
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to left, #00000000, $alert-color);
}

//animation for background
@keyframes opacity-loop {
  0% {
    opacity: 5%;
  }

  25% {
    opacity: 55%;
  }

  50% {
    opacity: 65%;
  }

  100% {
    opacity: 15%;
  }
}

@keyframes opacity-in {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
}
