@import "../base-theme/colors.scss";
@import "../base-theme/fonts.scss";
@import "../base-theme/breakpoints.scss";

@mixin pretty-hover {
    color: $bkg-color;
}

@mixin icon-style($bkg-color) {
    background-color: $bkg-color;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    align-self: center;
    justify-content: center;
    color: $main-color;
    transition: 200ms ease-in all;
}

@mixin icon-hover($bkg-color, $width, $hue-change) {
    background-color: adjust-color($color: $bkg-color, $hue: $hue-change, $saturation: 5%, $lightness: 2%, $alpha: 1);
    transform: translateY($width);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.skills-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $dark-text;
    transition: all --animation-time linear;
    width: 100%;

    .about-me-span {
        display: block;
        margin: auto;
        align-items: center;
        justify-items: center;
        width: 80%;
        // background-color: rgba(7, 14, 41, 0.341);
        padding: 1rem;
        // padding-top: 8rem;

        .span-wid {
            font-size: 2rem;
            font-family: "Itim";
            color: $alert-color;

            .desc {
                color: $light-text;
                font-size: 1.1rem;
                font-family: "Karla";
            }
        }
    }
    .desc {
        color: $light-text;
        font-size: 1.1rem;
        font-family: "Karla";
    }

    .list {
        display: block;
        margin: auto;
        align-items: center;
        justify-items: center;
        width: 80%;    

        .skills ul {
            display: flex;
            flex-direction: row;
            justify-content:space-around;

            li {
                display: flex;
                flex-direction: column;
                list-style: none;
                // padding: 1.2rem;
                // margin: 1%;

                align-items: center;
                justify-content: center;
            }
            .icon-react {
                @include icon-style($alert-color);
                padding: 10%;
                font-size: 5rem;
                align-items: center;  
            }
            .icon-react:hover {
                @include icon-hover($alert-color, -5px, 25);
            }
        }
    }

    .experience {
         display: block;
        margin: auto;
        align-items: center;
        justify-items: center;
        width: 80%;  
        .job {
            display: block;
            align-content: center;
            width: 100%;
            // background-color: rgba(0, 0, 0, 0.242);
            margin: 0.2rem;
            padding: 2rem;
            margin-left: 2rem;
            border-left: 5px groove $alert-color;
            .title {
                font-weight: 600;
                font-size: 1.5rem;
                padding-bottom: 0.5rem;
            }
            .subtitle {
                font-style: italic;
            }
            .date {
                float: right;
            }
            .location {
                font-size: 0.8rem;
                font-style: italic;
                padding-top: 0.2rem;
            }
            ul{
                font-size: 1rem;
                padding: 1rem;
                li{
                    padding: .2rem;
                    // list-style: none;
                }
            }
        }
    }

    .section {
        font-size: 3rem;
        width: 100%;
        padding: 1rem;
        // background-color: $box-color;
        border-radius: 3px;
        position: static;
        color: $alert-color;

       
        font-family: "Itim", sans-serif;
    }
    span{
        transition: all 300ms ease-in-out;
    }
    span:hover {
        @include pretty-hover();
    }
}
