@import "../base-theme/colors.scss";
@import "../base-theme/fonts.scss";
@import "../base-theme/breakpoints.scss";

@mixin pretty-hover {
    color: $bkg-color;
}

@mixin icon-style($bkg-color) {
    background-color: $bkg-color;
    padding: 1.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    align-self: center;
    justify-content: center;
    color: $main-color;
    transition: 200ms ease-in all;
}

@mixin icon-hover($bkg-color, $width, $hue-change) {
    background-color: adjust-color($color: $bkg-color, $hue: $hue-change, $saturation: 5%, $lightness: 2%, $alpha: 1);
    transform: translateY($width);
}

body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    transition: all --animation-time linear;
    width: 100%;

    .about-me-span {
        width: 50%;
        // background-color: rgba(7, 14, 41, 0.341);
        padding: 1rem;
        // padding-top: 8rem;

        .span-wid {
            font-size: 2rem;
            font-family: "Itim";
            color: $alert-color;

            .desc {
                color: $light-text;
                font-size: 1.1rem;
                font-family: "Karla";
            }
        }
    }
    .desc {
        color: $light-text;
        font-size: 1.1rem;
        font-family: "Karla";
    }

    .list {
        column-gap: 1rem;
        width: 35%;

        .section {
            font-size: 3rem;
            width: 100%;
            // background-color: rgba(248, 248, 255, 0.335);
            position: static;
            color: $alert-color;

            font-family: "Itim", sans-serif;
        }
        span:hover {
            @include pretty-hover();
        }
        .skills ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li {
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 1.2rem;
                margin: 1%;

                align-items: center;
                justify-content: center;
            }
            .icon-react {
                padding: 0.2rem;
                font-size: 4.5rem;
                align-items: center;
                @include icon-style($alert-color);
            }
            .icon-react:hover {
                @include icon-hover($alert-color, -5px, 25);
            }
        }
    }
    .canvas {
        width: 50%;
        height: 30rem;
        // padding: 2rem;
        // background-color: $box-color;
        overflow: hidden;
        .rotatingsquares {
            position: fixed;
            z-index: -4;
            .back {
                background-color: $box-color;
                border-radius: 35%;
                position: absolute;
                z-index: -1;
                -webkit-animation: spin 4s linear infinite;
                -moz-animation: spin 4s linear infinite;
                animation: spin 4s linear infinite;
                width: 30rem;
                height: 30rem;
            }
            :nth-child(even) {
                left: 155px;
                animation: spin 3.5s linear infinite;
                background-color: $dark-text;
            }
            :nth-child(odd) {
                left: 225px;
                top: 12%;
                animation: spin 5.5s ease-in-out infinite;
                opacity: 25%;
            }
        }
    }

    .fun-facts {
        display: flex;
        flex-direction: column;
        .title{
            font-size: 2rem;
            font-family: "Itim";
            color: $alert-color;
        }
        width: 100%;
        span{
            font-size: 1.5rem;
            // font-family: "Itim";
            color: $alert-color;
        }
        .pen {
            animation: spin 2.5s linear infinite;
        }
    }
}
