@import '../base-theme/colors.scss';
@import '../base-theme/fonts.scss';
@import '../base-theme/breakpoints.scss';

$curr-color: #000000;

@mixin pretty-hover{
        color: $bkg-color;
}

@mixin icon-style($bkg-color){
    background-color: $bkg-color;
    padding: 1.5rem;
    margin: .5rem;
    border-radius: .5rem;
    align-self: center;
    justify-content: center;

    transition: 200ms ease-in all;
}

@mixin icon-hover($bkg-color, $width, $hue-change){
    background-color: adjust-color($color: $bkg-color, $hue: $hue-change, $saturation: 5%, $lightness: 2%, $alpha: 1.0);
    transform: translateY($width) ;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all --animation-time linear;
 }

 .skills-container{
    display: flex;
    flex-direction: row;
    transition: all --animation-time linear;
    width: 100%;

    .about-me-span{
        width: 45%;
        background-color: rgba(7, 14, 41, 0.341);
        padding: 1rem;
        margin: .5rem;
    }
  
    .list{
        column-gap: 1rem;
        width: 35%;
        // position: absolute;
        float: right;
        .section{
            font-size: 3rem;
            width: 100%;
            // background-color: rgba(248, 248, 255, 0.335);
            position: static;
            color: $alert-color;

            font-family: "Itim", sans-serif;
        }span:hover{
            @include pretty-hover();
        }
        .skills ul{
            display: flex;
            flex-direction: row;
            li{
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 1.2rem;
                margin: 1%;
             
                align-items: center;
                justify-content: center;
            }
            .icon-react{
                padding: .2rem;
                font-size: 4.5rem;
                align-items: center;
                @include icon-style($alert-color);
            }.icon-react:hover{
                @include icon-hover($alert-color, -5px, 25);
            }
           
        }
    }
 }