@import "../base-theme/fonts.scss";
@import "../base-theme/colors.scss";
@import "../base-theme/breakpoints.scss";
@import "../base-theme/dark-theme.scss";

.header {
  .title-project {
    font-size: 2rem;
    text-align: center;
  }
  .preview {
    display: grid;
    place-items: center;
  }
}

.container {
  display: flex;

  .slideshow {
    width: 100%;
    background-color: rgba(35, 22, 6, 0.121);
  }
  .player {
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    border: 2px solid black;
  }
  a,
  .link {
    list-style: none;
    text-decoration: none;
  }
  a:visited {
    color: white;
  }

  .content {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
   
  }
  .title {
    display: block;
    font-size: 1.5rem;
    padding: 0.2rem;
  }

  .two {
  }
}

p{
  text-align: center;
  margin: 2rem 0rem;
}

.context {
  font-style: italic;
  color: $box-color-d;
  float: right;
  font-size: 0.9rem;
}

.container-slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35rem;

  overflow: hidden;
  

  .left {
    float: left;
  }

  .right {
    float: right;
    text-align: right;
  }

  .arrow {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 2rem;
    z-index: 1;
    aspect-ratio: 1/1;
  }

  .images-container{
    
    img{
      aspect-ratio: 16/9;
      object-fit: fill;
      height: 9%;
    }
  }
}
