//LIGHT
$alert-color : #f33d64d0;
$alert-color-butt : #fb3a64d0;
$alert-color-butt-after : #fc569ed0;
$box-color : #65647C;
$bkg-color : #8CC0DE;
$main-color : #FAF0D7 ;
$dark-text : #050229;

//DARK
$bkg-color-d: #1e1d34;
$box-color-d: #8B7E74;
$main-color-d: #c7bca1;
$alert-color-d: #f1d3b3;
$light-text: #efefef;