@import '../base-theme/colors.scss';
@import '../base-theme/fonts.scss';
@import '../base-theme/breakpoints.scss';

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: $bkg-color;
}

.nav-bar{
    background-color: $bkg-color;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: .2rem;

    .page-title{
        font-size: 25px;
        
    }


    a{
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        padding: .7rem;

        font-family: 'Itim', cursive;
        font-size: 1.4rem;

        @include media('<=phone'){
            font-size: .9rem;
        }
        @include media('>=tablet'){
            font-size: 1.5rem;
        }
    }

    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap: 15px;
    }

    li.active{
        background-color: #1e1e1e3a;
        
    }

    li:hover{
        background-color: $box-color;
        border-radius: 15px;
    }



}