@import "../base-theme/colors.scss";
@import "../base-theme/fonts.scss";
@import "../base-theme/breakpoints.scss";

* {
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    overflow: hidden;
    position: sticky;
    top: 0;

    background-color: $bkg-color-d;
    z-index: 4;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        flex-direction: row;

        width: 100%;
        li {
            transition: color 400ms ease-in-out;
            padding: 0;
            list-style-type: none;
            margin: 0;
            justify-self: center;
            a {
                display: block;
                color: $light-text;
                text-decoration: none;
                padding: 20px 20px;
            }

            padding: 0.5rem;
            font-size: 1rem;
        }
        :hover {
            color: $alert-color;
        }
        ::after {
            color: $alert-color;
        }
    }

    .contact-div {
        // background-color: blue;
        ul {
            li {
                font-size: 1.2rem;
                padding: 25px 15px;
                color: $alert-color-d;
            }
            :hover {
                color: $main-color-d;
            }
        }
    }
}
